@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Italianno&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Italiana&family=Italianno&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Great+Vibes&family=Italiana&family=Italianno&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parisienne&display=swap");

/* General Global Setting */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-clr: #ff0066;
  --secondary-clr: #ffffff;
  --text-clr: #000000;
  --font-main: "Italianno", cursive;
  --font-sec: "Great Vibes", cursive;
  --font-par: "montserrat", Roman;
  --font-size: clamp(1.5rem, 5vw, 3rem);
}
body {
  position: relative;
  background: var(--secondary-clr);
  font-family: "roboto", sans-serif;
  width: 100%;
  min-height: 100vh;
}

/*___________________________________________________________________
Header
_____________________________________________________________________*/

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  background: rgba(from var(--secondary-clr) r g b/ 0.25);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.385);
  transition: 1s;
  z-index: 1300;
  box-shadow: 0 0 50px rgb(from var(--text-clr) r g b/ 0.35);
}
.active .logo span {
  color: var(--primary-clr);
}
.hamburger {
  display: none;
  flex-direction: column;
  background: transparent;
  border: none;
  width: 30px;
  height: 30px;
  row-gap: 4px;
  justify-content: center;
}
.hamburger .bar {
  background-color: black;
  border-radius: 2px;
  width: 30px;
  height: 3px;
  border-radius: 20%;
}

.logo {
  font-family: "Great Vibes", cursive;
  text-transform: capitalize;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

.nav {
  display: flex;
}
.nav li {
  list-style: none;
  margin: 0 20px;
}
.nav li a {
  color: black;
  text-decoration: none;
  font-family: var(--font-par);
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 500;
  padding: 10px;
  transition: 0.5s;
}
.nav li a:hover {
  color: var(--primary-clr);
}
.search {
  position: relative;
  width: 300px;
  height: 40px;
  transition: 0.5s;
}

/*___________________________________________________
Main
_____________________________________________________*/

.main {
}
.main h1 {
  font-family: var(--font-main);
  color: var(--text-clr);
  font-size: 130px;
  font-weight: lighter;
  padding: 0px 40px 0px 40px;
  text-transform: capitalize;
  transition: 1s;
}
.main p {
  transition: 0.5s;
  font-family: var(--font-main);
  color: var(--text-clr);
  font-size: 50px;
  padding: 0px 50px 0px 0px;
  font-weight: lighter;
  transition: 1s;
  margin-left: 5%;
}
.main span {
  color: var(--primary-clr);
}

/*___________________________________________________
Contact Us
_____________________________________________________*/

.schedueCon {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.forming {
  object-fit: cover;
  position: absolute;
  z-index: -10;
}
.form-section {
  display: flex;
  flex-direction: column;
}
.contact {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 200px;
  left: 100px;
  top: 100px;
  position: relative;
}
.submit {
  box-shadow: 3px 3px 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.scheduleCon img {
  max-width: 100vw;
  min-width: 1000px;
  min-height: 800px;
}

footer {
  position: fixed;
  background-color: var(--secondary-clr);
  display: flex;
  justify-content: center;
  padding: 20px;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 20;
}

/*___________________________________________________________________
Mobile Nav
_____________________________________________________________________*/
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

@media (max-width: 1200px) {
  .hamburger {
    z-index: 200;
    display: flex;
  }
  .main h1 {
    font-size: 4rem;
  }

  .main p {
    font-size: clamp(1.5rem, 5vw, 3rem);
    line-height: -10px;
  }
  .nav {
    display: none;
  }
  .nav.active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    height: 100vh;
    width: 50%;
    top: 0;
    right: 0;
    padding: 100px 0;
    background-color: rgba(255, 255, 255, 0.754);
  }
  .nav li a {
    font-size: var(--font-size);
    font-style: var(--font-main);
    font-weight: 600;
  }
  .nav li {
    padding: 20px;
  }
}

@media (max-width: 600px) {
  .nav.active {
    width: 100%;
    align-items: anchor-center;
  }
  .nav li a {
    font-size: 3rem;
    font-weight: 600;
  }
}
