@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Italianno&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Italiana&family=Italianno&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Great+Vibes&family=Italiana&family=Italianno&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parisienne&display=swap");

/* General Global Setting */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #ff0066;
}
body {
  position: relative;
  background: #ffffff;
  font-family: "roboto", sans-serif;
  width: 100%;
  min-height: 100vh;
}

/*___________________________________________________________________
Header
_____________________________________________________________________*/

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  background: transparent;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: 1s;
  z-index: 1300;
}
header {
  background: #ffffff;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.35);
}
.hamburger {
  display: none;
}
.hamburger.active {
  display: flex;
  flex-direction: column;
  background: transparent;
  border: none;
  width: 30px;
  height: 30px;
  row-gap: 4px;
}
.hamburger.active .bar {
  background-color: black;
  border-radius: 2px;
  width: 23px;
  height: 3px;
}

.logo {
  font-family: "Great Vibes", cursive;
  text-transform: capitalize;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #000000;
}

.nav {
  display: flex;
}
.nav li {
  list-style: none;
  margin: 0 20px;
}
.nav li a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 300;
  padding: 10px;
  transition: 0.5s;
}
.nav li a:hover {
  color: var(--primary);
}
.search {
  position: relative;
  width: 300px;
  height: 40px;
  transition: 0.5s;
}

.search input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #000000;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.35);
  outline: none;
  padding: 0 10px 0 15px;
}
.search input::placeholder {
  color: #000000;
  text-transform: uppercase;
  font-weight: 350;
}

.search ion-icon {
  font-size: 1.4rem;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  border-left: 1px solid rgba(0, 0, 0, 0.35);
  padding-left: 8px;
}

.nav-links-two a:hover {
  color: rgb(194, 180, 106);
}
.nav-links-one a:hover {
  color: rgb(194, 180, 106);
}

.gallery {
  display: flex;
  flex-direction: column;
  padding: 150px 0px 0px 0px;
}
.gallery h1 {
  font-family: "Italianno", cursive;
  font-size: 130px;
  font-weight: lighter;
  min-width: 800px;
  color: rgb(194, 180, 106);
  padding: 30px;
  transform: translatex(60px);
}
.gallery p {
  font-family: "Italianno", cursive;
  font-size: 50px;
  font-weight: lighter;
  min-width: 800px;
  padding: 40px;
  width: 100vw;
}
.images {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: start;
  padding: 20px;
  row-gap: 20px;
  column-gap: 20px;
}
.images img {
  max-width: 100%;
  gap: 20px;
}
.transition.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 9999;
  pointer-events: none;
}

footer {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.nav-links-active.active {
  display: flex;
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

@media (max-width: 1200px) {
  .hamburger {
    z-index: 200;
    display: flex;
    margin-left: auto;
  }
  .logo-box1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 166px;
    justify-content: center;
    flex-grow: 1;
  }
  .logo-box2 {
    display: none;
  }
  .navbarContainer {
    display: none;
    justify-content: revert;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    height: 100vh;
    width: 50%;
    top: 0;
    right: 0;
    padding: 100px 0;
    background-color: rgba(255, 255, 255, 0.754);
  }
  .images {
    column-gap: 20px; /* This is my absolute minimum gap */
  }
  .nav-links-one a,
  .nav-links-two a {
    font-size: 30px;
  }
  .nav-links-one,
  .nav-links-two {
    flex-direction: column;
    width: 100%;
    gap: 0;
  }
  .nav-links-one li,
  .nav-links-two li {
    padding: 20px;
  }
  .hero-container button {
    font-size: 30px;
    transform: translate(-50%, 170%);
  }
  .nav-links-two li:hover {
    background-color: #ecec8a7b;
  }
  .nav-links-one li:hover {
    background-color: #ecec8a7b;
  }
  .nav-links-one a:hover {
    color: black;
  }
  .nav-links-two a:hover {
    color: black;
  }
  .navbarContainer.active {
    display: flex;
  }
  .images {
  }
}

@media (max-width: 600px) {
  .hamburger {
    display: flex;
  }
  .navbarContainer {
    width: 100%;
  }
  .navbarContainer.active {
    display: flex;
  }
  .hero-container button {
    min-width: 265px;
    font-size: 30px;
    transform: translate(-50%, 170%);
  }
  .navbarContainer {
    align-content: center;
    align-items: center;
  }
  .nav-links-one li,
  .nav-links-two li {
    align-self: center;
  }
  .images {
    grid-template-columns: minmax(0, 1fr);
    gap: 10px;
  }
}
