@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Italianno&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Italiana&family=Italianno&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Great+Vibes&family=Italiana&family=Italianno&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parisienne&display=swap");

/* General Global Setting */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #ff0066;
  --secondary-clr: #ffffff;
  --text-clr: #000000;
  --font-main: "Italianno", cursive;
  --font-sec: "Great Vibes", cursive;
}
body {
  position: relative;
  background: #ffffff;
  font-family: "roboto", sans-serif;
  width: 100%;
  min-height: 100vh;
}

/*___________________________________________________________________
Header
_____________________________________________________________________*/

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  background: rgb(from var(--secondary-clr) r g b/ 0.25);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: 1s;
  z-index: 1300;
  box-shadow: 0 0 50px rgb(from var(--text-clr) r g b/ 0.35);
}

.active .logo span {
  color: var(--primary);
}
.hamburger {
  display: none;
  flex-direction: column;
  background: transparent;
  border: none;
  width: 30px;
  height: 30px;
  row-gap: 4px;
  justify-content: center;
}
.hamburger .bar {
  background-color: black;
  border-radius: 2px;
  width: 30px;
  height: 3px;
  border-radius: 20%;
}

.logo {
  font-family: var(--font-sec);
  text-transform: capitalize;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

.nav {
  display: flex;
}
.nav li {
  list-style: none;
  margin: 0 20px;
}
.nav li a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 300;
  padding: 10px;
  transition: 0.5s;
}
.nav li a:hover {
  color: var(--primary);
}
.search {
  position: relative;
  width: 300px;
  height: 40px;
  transition: 0.5s;
}

.search input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #000000;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.35);
  outline: none;
  padding: 0 10px 0 15px;
}
.search input::placeholder {
  color: #000000;
  text-transform: uppercase;
  font-weight: 350;
}

.search ion-icon {
  font-size: 1.4rem;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  border-left: 1px solid rgba(0, 0, 0, 0.35);
  padding-left: 8px;
}

.nav-links-two a:hover {
  color: rgb(194, 180, 106);
}
.nav-links-one a:hover {
  color: rgb(194, 180, 106);
}
/*________________________________________________________________________________
Main Section
_________________________________________________________________________________*/

.gallery {
  display: flex;
  flex-direction: column;
}
.gallery h1 {
  font-family: var(--font-main);
  font-size: 130px;
  font-weight: lighter;
  color: rgb(0, 0, 0);
  padding: 30px;
  transform: translatex(60px);
  transition: 1s;
}
.gallery p {
  font-family: var(--font-main);
  font-size: 50px;
  font-weight: lighter;
  padding: 40px 50px 150px 0px;
  width: 100%;
  transition: 1s;
  max-width: 1300px;
  margin-left: 5%;
}
.images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  align-items: start;
  padding: 20px;
  column-gap: 15px;
}
.images .pic {
  max-width: 100%;
  height: auto;
  padding: 10px 0px 0px 0px;
  opacity: 0;
  transition: 1s ease;
  transform: translateY(50%);
}
.images .pic.show {
  opacity: 1;
  transform: translateY(0%);
}

.G {
  color: var(--primary);
}

footer {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.nav-links-active.active {
  display: flex;
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/*___________________________________________________________________
Mobile Nav
_____________________________________________________________________*/
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

@media (max-width: 1200px) {
  .hamburger {
    z-index: 200;
    display: flex;
  }
  .bg-slide .content h1 {
    font-size: 4rem;
  }

  .bg-slide .content p {
    font-size: clamp(1.5rem, 5vw, 3rem);
    line-height: -10px;
  }
  .nav {
    display: none;
  }
  .nav.active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    height: 100vh;
    width: 50%;
    top: 0;
    right: 0;
    padding: 100px 0;
    background-color: rgba(255, 255, 255, 0.754);
  }
  .nav li a {
    font-size: var(--font-size);
    font-style: var(--font-main);
    font-weight: 600;
  }
}

@media (max-width: 600px) {
  .nav.active {
    width: 100%;
    align-items: anchor-center;
  }
  .nav li a {
    font-size: 3rem;
    font-weight: 600;
  }
}
