@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Italianno&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Italiana&family=Italianno&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Great+Vibes&family=Italiana&family=Italianno&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parisienne&display=swap");

/* General Global Setting */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #ff0066;
  --secondary-clr: #ffffff;
  --text-clr: #000000;
  --font-main: "Italianno", cursive;
  --font-sec: "Great Vibes", cursive;
  --font-par: "montserrat", Roman;
  --font-size: clamp(1.5rem, 5vw, 3rem);
}
body {
  position: relative;
  background: #ffffff;
  font-family: "roboto", sans-serif;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

/*___________________________________________________________________
Header
_____________________________________________________________________*/

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  background: var(--secondary-clr,) r g b/ 0.25;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: 1s;
  z-index: 1300;
  box-shadow: 0 0 50px rgb(from var(--text-clr) r g b/ 0.35);
}

.hamburger {
  display: none;
  flex-direction: column;
  background: transparent;
  border: none;
  width: 30px;
  height: 30px;
  row-gap: 4px;
  justify-content: center;
}
.hamburger .bar {
  background-color: black;
  border-radius: 2px;
  width: 30px;
  height: 3px;
  border-radius: 20%;
  transition: 0.5s;
}

.logo {
  font-family: var(--font-sec);
  text-transform: capitalize;
  font-size: var(--font-size);
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #000000;
}

.nav {
  display: flex;
}
.nav li {
  list-style: none;
  margin: 0 20px;
}
.nav li a {
  color: black;
  font-family: var(--font-par);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 500;
  padding: 10px;
  transition: 0.5s;
}
.nav li a:hover {
  color: var(--primary);
}

/*___________________________________________________________________
Banner
_____________________________________________________________________*/

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.05s;
}
.banner::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.5);
}
.bg-slide {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.bg-slide .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0) translate(-50%, -50%);
  width: 60vw;
  z-index: 1100;
  transition: ease-in-out 1.5s;
  opacity: 0;
  visibility: hidden;
}
.bg-slide .content h1 {
  font-family: var(--font-sec);
  font-style: normal;
  font-size: 6em;
  text-transform: capitalize;
}
.bg-slide .content p {
  font-family: var(--font-main);
  font-weight: 200;
  font-size: 2.5em;
  letter-spacing: 1px;
}

.logo span {
  color: var(--primary);
}
.bg-slide span {
  color: var(--primary);
}

.bg-slide.active .content {
  transform: scale(1) translate(-50%, -50%);
  opacity: 1;
  visibility: visible;
  z-index: 2;
}

.venue-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.bg-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 1s ease-in-out;
  opacity: 0;
}

.bg-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bg-slide.active {
  opacity: 1;
}
.controls {
  position: absolute;
  bottom: 20px;
  width: auto;
  z-index: 10;
  right: 10px;
  gap: 20px;
  margin-bottom: 0px;
  display: flex;
}
.controls li {
  list-style: none;
  display: flex;
  align-items: end;
}
.controls li a {
  color: #000000;
  text-decoration: none;
  transition: 0.5s;
  border: none;
  background: none;
  font-style: var(--font-sec);
  font-size: 2.5em;
  font-weight: 800;
  line-height: 1em;
  cursor: pointer;
  padding: 0;
}
.controls li a.active,
.controls li a:hover {
  font-size: 4em;
}
.controls::before {
  position: absolute;
  content: "";
  top: 50%;
  right: 200px;
  width: 90px;
  height: 2px;
  background: #000000;
}
.share {
  position: absolute;
  bottom: 50px;
  left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1200;
}
.share::before {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  background-color: #000000;
  top: -150%;
  width: 2px;
  height: 90px;
}
.share p {
  writing-mode: vertical-rl;
  text-transform: uppercase;
  font-family: "montserrat";
  font-weight: 300;
  color: #000000;
}
.share a {
  text-decoration: none;
  color: #000000;
}
.share a ion-icon {
  font-size: 1.8em;
}
.message {
  font-family: "roboto", sans-serif;
  background: var(--text-clr);
  color: var(--secondary-clr);
  font-size: 1.5em;
  width: fit-content;
  border-radius: 8px;
  padding: 12px 32px;
  position: fixed;
  bottom: 40px;
  opacity: 0;
  transition: 1s;
  z-index: 2000;
  left: 50%;
  transform: translateX(-80%);
}

.message.active {
  opacity: 1;
  transform: translateX(0%, 0);
  transition: 1s;
}

/*___________________________________________________________________
Mobile Nav
_____________________________________________________________________*/
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

@media (max-width: 1200px) {
  .hamburger {
    z-index: 200;
    display: flex;
  }
  .bg-slide .content h1 {
    font-size: 4rem;
  }

  .bg-slide .content p {
    font-size: clamp(1.5rem, 5vw, 3rem);
    line-height: -10px;
  }
  .nav {
    display: none;
  }
  .nav.active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    height: 100vh;
    width: 50%;
    top: 0;
    right: 0;
    padding: 100px 0;
    background-color: rgba(255, 255, 255, 0.754);
  }
  .nav li a {
    font-size: var(--font-size);
    font-style: var(--font-main);
    font-weight: 600;
  }
  .nav li {
    padding: 20px;
  }
}

@media (max-width: 600px) {
  .nav.active {
    width: 100%;
    align-items: anchor-center;
  }
  .nav li a {
    font-size: 3rem;
    font-weight: 600;
  }
}
