@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Italianno&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Italiana&family=Italianno&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Great+Vibes&family=Italiana&family=Italianno&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parisienne&display=swap");

/* General Global Setting */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-clr: #ff0066;
  --secondary-clr: #ffffff;
  --text-clr: #000000;
  --font-main: "Italianno", cursive;
  --font-sec: "Great Vibes", cursive;
  --font-par: "montserrat", Roman;
  --font-size: clamp(1.5rem, 5vw, 3rem);
}

body {
  position: relative;
  background: var(--secondary-clr);
  font-family: "roboto", sans-serif;
  width: 100%;
  min-height: 100vh;
}

/*___________________________________________________________________
Header
_____________________________________________________________________*/

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  background: rgba(from var(--secondary-clr) r g b/ 0.25);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.385);
  transition: 1s;
  z-index: 1300;
  box-shadow: 0 0 50px rgb(from var(--text-clr) r g b/ 0.35);
}
.active .logo span {
  color: var(--primary-clr);
}
.hamburger {
  display: none;
  flex-direction: column;
  background: transparent;
  border: none;
  width: 30px;
  height: 30px;
  row-gap: 4px;
  justify-content: center;
}
.hamburger .bar {
  background-color: black;
  border-radius: 2px;
  width: 30px;
  height: 3px;
  border-radius: 20%;
  transition: 0.5s;
}

.logo {
  font-family: "Great Vibes", cursive;
  text-transform: capitalize;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

.nav {
  display: flex;
}
.nav li {
  list-style: none;
  margin: 0 20px;
}
.nav li a {
  color: black;
  font-family: var(--font-par);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 500;
  padding: 10px;
  transition: 0.5s;
}
.nav li a:hover {
  color: var(--primary-clr);
}

/*______________________________________________________________
Banner
_______________________________________________________________*/

.heading {
  padding: 0 50px;
}
.heading h1 {
  font-family: var(--font-main);
  text-transform: capitalize;
  font-weight: 300;
  font-size: 130px;
  transition: 0.5s;
}
.heading h1 span {
  color: var(--primary-clr);
}
.heading p {
  font-family: var(--font-main);
  font-weight: lighter;
  font-size: 50px;
  max-width: 900px;
  transition: 0.5s;
  letter-spacing: 1px;
  transition: 0.5s;
  padding: 50px;
}
.image {
  position: absolute;
  width: 100%;
  object-fit: cover;
  height: 100vh;
  transition: 0.5s;
}
/*______________________________________________________________
Calendar
_______________________________________________________________*/
.calendar-container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 150px 5px 5px 5px;
  color: #000000;
  display: flex;
  border-radius: 10px;
  height: auto;
  transition: 0.5s;
}
.left {
  width: 60%;
  padding: 20px;
}
.calendar {
  position: relative;
  width: 100%;
  min-width: 400px;
  height: 100%;
  display: flex;
  padding: 30px 0 0 0;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  color: var(--text-clr);
  border-radius: 5px;
  background-color: rgb(from var(--secondary-clr) r g b/ 0.85);
}
.calendar::before,
.calendar::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 12px;
  height: 97%;
  border-radius: 0 5px 5px 0;
  background-color: rgb(from var(--secondary-clr) r g b/ 0.75);
  transform: translateY(-50%);
}
.calendar::before {
  height: 94%;
  left: calc(100% + 12px);
  background-color: rgb(from var(--secondary-clr) r g b/ 0.5);
}
.calendar .month {
  width: 100%;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
}

.calendar .month .prev,
.calendar .month .next {
  cursor: pointer;
}
.calendar .month .prev:hover,
.calendar .month .next:hover {
  color: var(--text-clr);
}
.calendar .weekdays {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
  justify-content: space-around;
}
.calendar.weekdays div {
  width: 14.28%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calendar .days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.calendar .days .day {
  width: 14.28%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--text-clr);
  border: 1px solid #d7d7d7;
}
.calendar .day:not(.prev-date, .next-date):hover {
  color: white;
  background-color: var(--primary-clr);
}
.calendar .days .prev-date,
.calendar .days .next-date {
  color: #878585;
}
.calendar .days .active::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px 4px rgba(194, 179, 106, 0.908);
}
.calendar .days .active {
  position: relative;
  font-size: 2rem;
  color: #fff;
  background-color: rgba(194, 179, 106, 0.824);
}
.calendar .days .today {
  font-size: 2rem;
}
.calendar .days .event::after {
  content: " ";
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 75%;
  height: 6px;
  border-radius: 3px;
  transform: translateX(-50%);
  background-color: rgba(194, 179, 106, 0.824);
}
.calendar .event:hover::after {
  background-color: #fff;
}
.calendar .active.event::after {
  background-color: #fff;
  bottom: 20%;
}
.calendar .active.event {
  padding-bottom: 10px;
}
.calendar .goto-today {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 0 20px;
  margin-bottom: 20px;
  color: var(--primary-clr);
}
.calendar .goto-today .goto {
  display: flex;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid var(--primary-clr);
}
.calendar .goto-today .goto input {
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 20px;
  color: var(--primary-clr);
}
.calendar .goto-today button {
  padding: 8px 10px;
  border: 1px solid var(--primary-clr);
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  color: var(--primary-clr);
}
.calendar .goto-today button:hover {
  color: #fff;
  background-color: rgba(194, 179, 106, 0.824);
}
.calendar .goto-today .goto button {
  border: none;
  border-left: 1px solid var(--primary-clr);
  border-radius: 0;
}
footer {
  display: flex;
  justify-content: center;
  padding: 20px;
}

/*___________________________________________________________________
Mobile Nav
_____________________________________________________________________*/
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

@media (max-width: 1200px) {
  .hamburger {
    z-index: 200;
    display: flex;
  }
  .heading h1 {
    font-size: clamp(2rem, 5vw, 3rem);
  }

  .heading p {
    font-size: clamp(1.5rem, 5vw, 3rem);
    line-height: -10px;
  }
  .nav {
    display: none;
  }
  .nav.active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    height: 100vh;
    width: 50%;
    top: 0;
    right: 0;
    padding: 100px 0;
    background-color: rgba(255, 255, 255, 0.754);
  }
  .nav li a {
    font-size: var(--font-size);
    font-style: var(--font-main);
    font-weight: 600;
  }
  .nav li {
    padding: 20px;
  }
}

@media (max-width: 600px) {
  .nav.active {
    width: 100%;
    align-items: anchor-center;
  }
  .nav li a {
    font-size: 3rem;
    font-weight: 600;
  }
}
